/basic/data
/basic/practice_exercise/__pycache__
/basic/practice_exercise/model.pth
/intermediates/autoencoder/__pycache__
/intermediates/data
/intermediates/maniford/__pycache__
.DS_store
/intermediates/pytorch_ignite/__pycache__
/intermediates/pytorch_ignite/model.pth
/intermediates/cnn/mnist_classification/models/__pycache__
/intermediates/cnn/mnist_classification/models/__init__.py
/intermediates/cnn/mnist_classification/__init__.py